<%= link_to 'Преподаватель', :teacher_page %>

<%= link_to "Profile", :profile %>

<h1>Courses</h1>

<div id="courses">
  <% @courses.each do |course| %>
    <%= render course %>
    <p>
      <%= link_to "Show this course", course %>
    </p>
  <% end %>
</div>
